SamplesLibrary/bin/Debug/netstandard2.0/SamplesLibrary.pdb
SamplesLibrary/bin/Debug/netstandard2.0/SamplesLibrary.deps.json
SamplesLibrary/bin/Debug/netstandard2.0/SamplesLibrary.dll
SamplesLibrary/obj/project.assets.json
SamplesLibrary/obj/SamplesLibrary.csproj.nuget.cache
SamplesLibrary/obj/SamplesLibrary.csproj.nuget.g.props
SamplesLibrary/obj/SamplesLibrary.csproj.nuget.g.targets
SamplesLibrary/obj/Debug/netstandard2.0/SamplesLibrary.AssemblyInfo.cs
SamplesLibrary/obj/Debug/netstandard2.0/SamplesLibrary.AssemblyInfoInputs.cache
SamplesLibrary/obj/Debug/netstandard2.0/SamplesLibrary.csproj.CoreCompileInputs.cache
SamplesLibrary/obj/Debug/netstandard2.0/SamplesLibrary.csproj.FileListAbsolute.txt
SamplesLibrary/obj/Debug/netstandard2.0/SamplesLibrary.dll
SamplesLibrary/obj/Debug/netstandard2.0/SamplesLibrary.pdb
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary-test.deps.json
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary-test.dll
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary-test.pdb
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary-test.runtimeconfig.dev.json
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary-test.runtimeconfig.json
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary.dll
SamplesLibrary-test/bin/Debug/netcoreapp2.0/SamplesLibrary.pdb
SamplesLibrary-test/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
SamplesLibrary-test/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
SamplesLibrary-test/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
SamplesLibrary-test/obj/project.assets.json
SamplesLibrary-test/obj/SamplesLibrary-test.csproj.nuget.cache
SamplesLibrary-test/obj/SamplesLibrary-test.csproj.nuget.g.props
SamplesLibrary-test/obj/SamplesLibrary-test.csproj.nuget.g.targets
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.AssemblyInfo.cs
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.AssemblyInfoInputs.cache
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.csproj.CopyComplete
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.csproj.CoreCompileInputs.cache
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.csproj.FileListAbsolute.txt
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.dll
SamplesLibrary-test/obj/Debug/netcoreapp2.0/SamplesLibrary-test.pdb
TourApp/obj/Debug/netcoreapp2.0/TourApp.pdb
TourApp/bin/Debug/netcoreapp2.0/SamplesLibrary.dll
TourApp/bin/Debug/netcoreapp2.0/SamplesLibrary.pdb
TourApp/bin/Debug/netcoreapp2.0/TourApp.deps.json
TourApp/bin/Debug/netcoreapp2.0/TourApp.dll
TourApp/bin/Debug/netcoreapp2.0/TourApp.pdb
TourApp/bin/Debug/netcoreapp2.0/TourApp.runtimeconfig.dev.json
TourApp/bin/Debug/netcoreapp2.0/TourApp.runtimeconfig.json
TourApp/obj/project.assets.json
TourApp/obj/TourApp.csproj.nuget.cache
TourApp/obj/TourApp.csproj.nuget.g.props
TourApp/obj/TourApp.csproj.nuget.g.targets
TourApp/obj/Debug/netcoreapp2.0/TourApp.AssemblyInfo.cs
TourApp/obj/Debug/netcoreapp2.0/TourApp.AssemblyInfoInputs.cache
TourApp/obj/Debug/netcoreapp2.0/TourApp.csproj.CopyComplete
TourApp/obj/Debug/netcoreapp2.0/TourApp.csproj.CoreCompileInputs.cache
TourApp/obj/Debug/netcoreapp2.0/TourApp.csproj.FileListAbsolute.txt
TourApp/obj/Debug/netcoreapp2.0/TourApp.dll
